body {
    background-color: #B4D2D9;
  }

v-img {
    padding: 10px;
}

header {
    padding: 10px;
}

v-btn {
    color: white;
}

main {
    display: flex;
    flex-direction: row;
}

.MainContent {
    padding: 10px;
}

.sidebar {
    max-width: 50%;
    background-color: #58838C;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.textblock {
    background-color: #f2f2f2;
    padding: 10px;
}

.about_info {
    margin-top: auto;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
}

.v-application.v-theme--light.v-layout.v-layout--full-height.v-locale--is-ltr {
    --v-theme-background: #B4D2D9;
}

a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }